<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=colinwebcrawler;AccountKey=er4XtERNr+VdQAmc0zZDNiPZ/k0nSe74hUKNoPgksH/1Cio844WL14XF/PggUi93PP+I4Yi/WhUVM65vrxnB1A==" />
  </appSettings>
</configuration>