#searchbox {
   width: 100%;
}

#searchdiv {
   width: 30%;
   height: 20px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 20px;
}

h1 {
   margin: 20px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

table, th {
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}
